DATABASE_HOST=host
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=db
ADMIN_PASSWORD=password-officina
ADMIN_SESSION_SECRET=cambia-questa-stringa-lunga
RESEND_API_KEY=
RESEND_FROM=
RICHIESTA_TO=
# Imposta true se il sito è su HTTPS dietro un proxy che inoltra la richiesta come HTTP.
# COOKIE_SECURE=true
